body{
    background-color: lightsteelblue;
    margin-left: 50px;
    margin-right: 100px;
}
h1 {
    color: #5f7eaa;
    font-family: Arial, Helvetica, sans-serif;
    font: sans-serif;
   
}
.img-me{
    width: 300px;

}